<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaodou.module_task">

    <application
        android:name="com.xiaodou.common.MainApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name="debug.ProductActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
