<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaodou.core">

    <application>
        <activity
            android:name=".view.LaunchActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".view.SplashActivity" />
    </application>
</manifest>
